[Unit]
Description=Node server for empacadmusic.org / NextJS
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/jack/empacad_music
ExecStart=npm run start

[Install]
WantedBy=multi-user.target
