* {
  box-sizing: border-box;
}

:root {
  --clr-progress: hsl(111deg 100% 74%);
  --clr-progress--dark: hsl(111deg 99% 48%);
  --clr-progress--darkest: hsl(111deg 100% 23%);
  --clr-background: hsl(36deg 100% 93%);
  --clr-progbar: hsl(0deg 0% 89%);
  --clr-grey-text: hsl(0deg 0% 25%);
  --clr-empacad-yellow: hsl(39deg 81% 55%);
  --clr-empacad-yellow--dark: hsl(36deg 100% 32%);
  --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--clr-background);
  font-family: var(--font-stack);
}

p {
  max-width: 60ch;
  color: var(--clr-grey-text);
}

h1 {
  font-size: 4em;
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 2em;
  font-family: "Playfair Display", serif;
}
