.progressbar {
  margin-bottom: 1rem;
  position: relative;
  height: 32px;
  border-radius: 1000px;
  background-color: var(--clr-progbar);
  clip-path: inset(0 0 0 0 round 1000px);
}

.progressbar__value {
  height: 32px;
  width: 40%;
  transition: width 0.4s ease-in-out;
  border-radius: 1000px 0 0 1000px;
  background-color: var(--clr-progress);
}

.progressbar > progress {
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  pointer-events: none;
}
